
	$dark-blue: #222;
	$pink: #F1E4E6;
	$dark-pink: #F16D7F;
	$brown: #5D514C;
	$gray: #F8F8F8;
	$dark-navy: #222224;
	$white: #EEEEEE;
	$light-gray: #E1E1E1;
    $light-grey: #B1B1B1;
	$dark-grey: #575757;
	$lighter-gray: #AFAFAF;
	$overlay-color: rgba(58,56,56,0.8);

	$desktop-width: 1500px;
	$tablet-width: 1024px;
	$mobile-width: 667px;
